@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nova+Square&family=Permanent+Marker&family=Shadows+Into+Light&family=Vina+Sans&display=swap');
/*body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: initial;
}

.left_side{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%;
    background-color: white;
    padding: 30px;
}
.container_right{
    display: flex;
    justify-content: right;
    background-color: white;
}*/
*{
  font-family: Nova Square;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
  }
body::-webkit-scrollbar{
  display: none;
}

  .top_container{
    color: white;
    text-align: center;
    padding: 25px;
    background-image: url("/image/wallhaven-yj1okk.jpg");
  }

  .title{
    display: flex;
    justify-content: space-between;
  }

  .container {
    height: auto;
    width: 100vw;
    display: flex;
    padding: 25px;
  }

  .container2{
    padding: 25px;
  }

  .left_box {
    width: 30%;
    height: fit-content;
  }

  .container_right{
    margin-left: 10%;
    margin-right: auto;
    height: fit-content;
    border-radius: 20px;
    
  }
  
  .rightbox2 {
    margin-top: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    
  }

  .rightbox1 {
    width: fit-content;
    height: max-content;
    background-color: #ffffff;
  }

  .rightbox3{
    padding: 25px;
  }

  .cardtext1{
    outline: inset;
    border-radius: 5px;
  }

    .cardtext2{
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    outline: inset;
    border-radius: 5px;
  }
  
  .cardtext3{
    padding: 5px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    outline: inset;
    border-radius: 5px;
  }

  .border-secondary{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    border-radius: 10px;
    text-align: left;
    padding: 25px;
  }

  .skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
  }

.card{
  height: 500px;
  width: 250px;
}

.row-cols-1{
  height: 100%;
  width: 100%;
  display: flex;
}

.row-cols-1 .col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2{
  width: 100%;
  padding: 25px;
}

.left_box{
  flex-basis: 50%;
}

.container_right{
  flex-basis: 50%;
  gap: 20px;
}

.col .card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-5{
  padding: 25px;
  height: 200px;
  width: 200px;
}

